.question
  .question-content
    .question-text.text-lead
      = replace_hashtags_with_links(question.text)
    - if question.answer.present?
      .question-answer.text-lead
        = replace_hashtags_with_links(question.answer)
    .question-info
      = author(question).html_safe
    .question-info
      = question_time(question)
  - if question.user == current_user
    - edit_icon = question.answer.blank? ? 'reply' : 'pencil'
    .question-actions
      = link_to fa_icon(edit_icon), edit_question_path(question)
      = link_to fa_icon('trash-o'), question_path(question), method: :delete, data: { confirm: 'Точно удалить вопрос?' }
