<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="" rel="stylesheet">
    <title>Хорошие вопросы</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&amp;subset=cyrillic', 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="header-logo">
          <h1 class="header-title"><%= link_to "Хорошие вопросы", root_url %></h1>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
